{% extends "base.html" %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1 class="ui header">{{ _('Sign In') }}</h1>

            <form class="ui form error" action="" method="post" novalidate>

                <div class="field">
                    {{ form.hidden_tag() }}
                </div>

                <div class="field">
                    {{ form.username.label }}
                    {{ form.username(size=32) }}

                    {% for error in form.username.errors %}
                        <div class="ui error message">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="field">
                    {{ form.password.label }}
                    {{ form.password(size=32) }}

                    {% for error in form.password.errors %}
                        <div class="ui error message">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="field">
                    <span>{{ form.remember_me() }} {{ form.remember_me.label }}</span>
                </div>

                <div class="field">
                    {{ form.submit(class_='ui green button fluid') }}
                </div>

                <div class="field">
                    {{ _('New User?') }}
                    <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a>
                </div>

                <div class="field">
                    {{ _('Forgot Your Password?') }}
                    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
