<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/css/semantic.simplex.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/themes/basic/assets/fonts/icons.svg"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css"/>

    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

    {% block title %}
        <title>{% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}</title>
    {% endblock %}
</head>

<body>
<div class="ui secondary pointing menu">
    <a class="item" href="{{ url_for('index') }}">{{ _('Home') }}</a>
    <a class="item" href="{{ url_for('explore') }}">{{ _('Explore') }}</a>
    {% if current_user.is_anonymous %}
        <a class="item" href="{{ url_for('login') }}">{{ _('Login') }}</a>
    {% else %}
        <a class="item" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a class="item" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
    {% endif %}
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="ui tertiary inverted blue segment">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="ui container">
    {% block content %}{% endblock %}
</div>

</body>

<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/semantic.min.js"></script>
<!-- Generate moment.js script tag -->
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}

{% block scripts %}{% endblock %}
</html>
