{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>

    <form class="ui form error" action="" method="post">

        <div class="field">
            {{ form.hidden_tag() }}
        </div>

        <div class="field">
            {{ form.username.label }}
            {{ form.username(size=32) }}

            {% for error in form.username.errors %}
                <div class="ui error message">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="field">
            {{ form.about_me.label }}
            {{ form.about_me(cols=50, rows=4) }}

            {% for error in form.about_me.errors %}
                <div class="ui error message">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="field">
            {{ form.submit(class_='ui green button fluid') }}
        </div>
    </form>
{% endblock %}
