{% extends "base.html" %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <img class="ui small circular right floated image" src="{{ user.avatar(128) }}">
        </div>

        <div class="column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        User: {{ user.username }}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user.about_me %}{{ user.about_me }}{% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user.last_seen %}Last seen on: {{ user.last_seen }}{% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {{ user.followers.count() }} followers, {{ user.followed.count() }} following.
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user == current_user %}
                            <a class="ui mini blue button" href="{{ url_for('edit_profile') }}">Edit your profile</a>
                        {% elif not current_user.is_following(user) %}
                            <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
                        {% else %}
                            <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>{{ user.username }}'s Posts</h2>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    {% if prev_url %}
        <div class="ui pagination menu">
            <a class="active item" href="{{ prev_url }}">Previous</a>
        </div>
    {% endif %}

    {% if next_url %}
        <div class="ui pagination menu">
            <a class="active item" href="{{ next_url }}">Next</a>
        </div>
    {% endif %}

{% endblock %}
