{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/list.min.css"/>
{% endblock %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <img class="ui small circular right floated image" src="{{ user.avatar(128) }}">
        </div>

        <div class="column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        {{ _('User') }}: {{ user.username }}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user.about_me %}{{ user.about_me }}{% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user.last_seen %}
                            {{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}
                        {% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        {% if user == current_user %}
                            <a class="ui mini blue button" href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a>
                        {% elif not current_user.is_following(user) %}
                            <a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a>
                        {% else %}
                            <a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>{{ user.username }}'s Posts</h2>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <div class="ui pagination menu">
        <a class="{% if not prev_url %}disabled{% endif %} item" href="{{ prev_url or '#' }}"><i class="angle left icon"></i></a>

        <a class="{% if not next_url %}disabled{% endif %} item" href="{{ next_url or '#' }}"><i class="angle right icon"></i></a>
    </div>

{% endblock %}
